body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:#307ce4;
}

.login-button {
    position: absolute;
    top: 5%;
    right: 5%;
    background: #ffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.voltar-button {
    position: absolute;
    top: 5%;
    left: 5%;
    background: #ffff;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.mode-switch {
    display: flex;
    position: absolute;
    top: 10%;
    right: 3%;
}

.moon, .sun {
    font-size: 25px;
    margin: 0 5px;
}

.container {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0 20px;
    font-size: 24px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.forgot-password {
    float: left;
    margin-top: 10px;
}

.no-account {
    float: bottom;
    margin-top: 25px;
}

.register-button {
    bottom: 5%;
    left: 3%;
    background: #55cc55;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button2 {
    position: absolute;
    bottom: 5%;
    right: 3%;
    background: #55cc55;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-block: 1%;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #55cc55;
    ;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
